.input-container {
    width: 90%;
    position: absolute;
    top: 10%;
    margin: auto;
    z-index: 0;
    margin: auto;
    background-color: teal;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
}